<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app1">    

        <h3><b> Time converter </b></h3>
        <label>Hours</label>
        <input type="text" v-model="hrs">
        <label>Minutes</label>
        <input type="text" v-model="min">
        <label>Seconds</label>
        <input type="text" v-model="sec">

    </div>
</body>

<script src="../vuePeter/js/vue.js"></script>
<script>
    var vm = new Vue({
        el:"#app1",
        data: {
            hrs: 0,
            min: 0,
            sec: 0
        },

        methods: {
        },

        components:{
        },

        computed: {
        },
        watch:{
            hrs: function(value){
                this.min = value * 60;
                console.log("Hrs Run");
            },

            min: function(value){
                this.hrs = value / 60;
                this.sec = value * 60;
                console.log("Min Run")
            },

            sec: function(value){
                this.hrs = value / 3600;
                this.min = value / 60;
                console.log("Sec Run")
            }
        }
    })
</script>
</html>