*{
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #fdfdfd;
}

.about-section{
  background: url(../images/group-celebration-norwich-friendly.jpg) no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 45%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 30px;
  color: 545454;
  text-align: justify;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px){
  .inner-container{
    padding: 80px;
  }
}

@media screen and (max-width: 1000px){
  .inner-section{
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .about-section{
    padding: 0;
  }
  .inner-container{
    padding: 60px;
  }
}


.footer{
  display: block;
  text-align: center;
}
